---
---


$main-font:            'Lora', serif;
$body-background-color:        white;
$footer-background-color:    #e5e5e5;
$navbar-background-color:  lightblue;

$font-color:                     red;
$link-color:                    blue;
$link-hover-color:          darkblue;
$active-background:            green;


html {
  overflow-y: scroll;
}

body{
  background-color:$body-background-color;
  color:$font-color;
  font-family: $main-font;
}

a {
  color: $link-color;
  &:hover {
    color:$link-hover-color;
  }
}

.well {
  background-color:$navbar-background-color;
}

* {
  font-size:1em;
}

ul {
  list-style-type: none;
}

li.active a {
  color: red;
  cursor: default;
  background-color:$active-background !important;
}

.inline-headers h2, .inline-headers h4 {
  margin-left:30px;
  display: inline-block;
  vertical-align: baseline;
}

.top-header{
  margin-top:10px;
  margin-bottom:20px;
}

header{
  margin-top:10px;
  margin-bottom:10px;
}

.header-left{
  text-align:left;
}

.header-right{
  text-align:right;
}

@media screen and (max-width: 800px) {
  .header-left, .header-right {
    text-align: center;
  }
}

h5 {
  font-size:1.45em;
}

.catbloc:not(:target) {
  display: none;
}

$height-footer: 200px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    .footer-block {
      margin: 20px 0;
    }
  }
}

#footer{
  background-color:$footer-background-color;
}

.footer-container{
  background-color:$footer-background-color;
}

ul.footer-list{
  padding-left:0;
}

li.footer-list-social{
  padding-top:10px;
  font-size:20px;
}


