<div id="sidebar" class="well sidebar-nav">
    <h5>
        <small><b>Latest posts</b></small>
    </h5>
    <ul class="nav nav-pills nav-stacked">
        {% for post in site.posts %}
        <li class="{% if page.url == post.url %}active{% endif %}">
            <a href="{{ post.url }}"><span>{{ post.date | date_to_string }}</span> &raquo; {{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<h4>Categories</h4>


<nav>
    {% for category in site.categories %}
    <a href="/#{{ category | first | remove:' ' }}"><strong>{{ category | first }}</strong></a> {% if forloop.last %}.{% else %}, {% endif %}
    {% endfor %}
    <a href="/blog">All posts</a>
</nav>
