

<div id="sidebar1" class="well sidebar-nav">
    <h5>
        <small><b>{{site.lang.sign-up-to-our-newsletter}}</b></small>
    </h5>
    {% include mailchimp_signup.html %}

</div>

<div id="sidebar" class="well sidebar-nav" style="margin-bottom:30px;">
    <h5>
        <small><b>Latest posts</b></small>
    </h5>
    <ul class="nav nav-pills nav-stacked">
        {% for post in site.posts %}
        <li class="{% if page.url == post.url %}active{% endif %}">
            <a href="{{ post.url }}">
                <!--Hard coded locale for months -->
                    {% include post-date.html %}
                &raquo; {{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

</div>

<div style="margin-bottom:30px;">

<h4>Categories</h4>
<nav>
    <ul class="tag-list">

        {% for category in site.categories %}
            <!--Removes the main folder to show up as category    -->
            {% if category contains 'blog' %}
            <!--Display everything else:-->
                {% else %}
                    <a href="/blog/#{{ category | first | remove:' ' }}">
                        <li class="tag-list-item">

                        <strong>{{ category | first }}</strong></a>{% if forloop.last %}.{% else %} {% endif %}
                {% endif %}
        {% endfor %}
                        </li>


                <a href="/"><li class="tag-list-item">All posts</li></a>
    </ul>
   </nav>
</div>