<p class="post-footer text-center" style="margin-top:20px;margin-bottom:60px;">


        <!--<p class="text-center">Få siste nytt ved å følge @Skolehuset: </p>-->
        <p>
            <a class="twitter-follow-button"
               href="https://twitter.com/Skolehuset"
               data-size="large">
                Follow @TwitterDev</a>
        </p>
        <div class="fb-follow" data-href="https://www.facebook.com/skolehuset" data-layout="standard" data-size="large" data-show-faces="true" data-width="280">

        </div>
</p>