<div class="container">
    <div class="row top-header">
            <header>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header-left">
                        <h4 class=""><a href="/">{{ site.title }}</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="inline-headers header-right">
                        <h4><a href="/" class="text-center">Blog</a></h4>
                        <h4><a href="/docs" class="text-center">Documentation</a></h4>
                    </div>
                </div>
            </header>
    </div>
</div>
