---
layout: blog-overview-layout
---

    <h3>Latest posts</h3>
    <hr/>

<div class="row">
    <div class="col-sm-2">Hei</div>
    <div class="col-sm-8">
    {% for post in site.posts %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
    {% endfor %}
    </div>
</div>

<ul>
  {% for post in site.posts %}
  <li>
      <a href="{{ post.url }}">
          <time>{{ post.date | date: "%-d %B %Y" }}</time>
          {{ post.title }}
      </a>
  </li>
  {% endfor %}
</ul>