<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include header.html %}

<body>
    {% include facebook-follow-snippet.html %}
    {% include twitter-follow-snippet.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <h3> {{ page.title }} </h3>
                <em style="color:grey;">
                    {% include page-date.html %}
                </em>
                    {% include blogpost-tags.html %}
                <hr/>
                {{content}}
                {% include blogpost-footer.html %}
            </div>
            <div class="col-sm-4 col-md-4">
                {% include blog-navbar.html %}
            </div>

        </div>
    </div>

{% include footer.html %}
</body>

</html>